
#############
## Python
#############

*.py[cod]
/doc/source/_build/
# /doc/build/
test/testtempfiles/
test/datas/lamia_*
testfiles/

sandbox/*/
frontend/
secrets/*_secrets.*

arteliasite/node_modules
arteliasite/lamiacarto/static/lamiacarto/bundle
arteliasite/static
arteliasite/staticbundles
arteliasitev2/node_modules
arteliasitev2/qwc2
arteliasitev3/node_modules


.vscode/
**/*backup*
**/*caduc*
**/_build/
*/old/

*.wav
*.cprof
*.exe
Lamia_*.zip
work_jb/GPMB_Bacalan.sqlite
work_jb/make_segment.py
work_jb/optimize_parameters.py
work_jb/DBspatialite/config/lamiaITVimport/alpha_2.00_P_5.00.json
work_jb/DBspatialite/config/lamiaITVimport/alpha_2.50_P_10.00.json
work_jb/DBspatialite/config/lamiaITVimport/alpha_3.00_P_5.00.json
work_jb/DBspatialite/itv/20210202/VU-5024-0418.csv
work_jb/DBspatialite/result_computation/itv1_20210415_205013.gpkg
work_jb/DBspatialite/result_computation/itv1_20210415_205933.gpkg
autre_dossier/GPMB_Bacalan.sqlite
.devcontainer/devcontainer.json
.gitignore
.devcontainer/devcontainer.json
.vscode/settings.json
utils/pydbasedisplay/pydisplaydbase.py
qgisiface/config/recentprojects.txt
