
#############
## Python
#############

*.py[cod]
/Lamia/toolpostpro/*/*amc_tool*
/Lamia/toolpostpro/*/amctools
.vscode/
Lamia_*.zip
**/*backup*
**/*caduc*
sandbox/*/

test/testtempfiles/
test/datas/lamia_*

