
#############
## Python
#############

*.py[cod]
/doc/source/_build/
# /doc/build/
test/testtempfiles/
test/datas/lamia_*
testfiles/

sandbox/*/
frontend/
secrets/

arteliasite/node_modules
arteliasite/lamiacarto/static/lamiacarto/bundle
arteliasite/static
arteliasite/staticbundles
arteliasitev2/node_modules
arteliasitev2/qwc2
arteliasitev3/node_modules


.vscode/
**/*backup*
**/*caduc*
**/_build/
*/old/

*.wav
*.cprof
*.exe
Lamia_*.zip