{% load static %}
<!DOCTYPE html>
<html lang="fr">

<!-- https://mdbootstrap.com/docs/jquery/navigation/navbar/ -->

<head>
    <title>{% block title %}Lamia home{% endblock %}</title>

    <!-- Some amazing markup -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'lamiacarto/css/Features-Boxed.css' %}">





    {% block head %}
    {% endblock %}
</head>

<body>
    {% block nav %}

    <nav class="navbar navbar-expand-lg " style="background-color: rgb(0,55,90)" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="https://arteliagroup.com">
                <!-- Brand -->
                <img src="{% static 'lamiacarto/pictures/logo_white.png' %}" width="100" height="50" alt=""></a>
            <!-- Artelia -->
            <!-- width="30" height="30" -->
            <a class="navbar-brand" href="#">
                <!-- Brand -->
                <img src="{% static 'lamiacarto/pictures/Logo_LAMIA_transparent.png' %}" width="50" height="50"
                    alt=""></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar">
                &#9776;
            </button>



            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link"
                            style="color:rgb(250,253,255)">Home</a>
                    </li>
                    <li class="nav-item"><a href="https://github.com/Artelia/Lamia" class="nav-link"
                            style="color:rgb(250,253,255)">Github</a></li>
                    <li class="nav-item"><a href="https://artelia.github.io/Lamia/doc/build/fr/html/index.html"
                            class="nav-link" style="color:rgb(250,253,255)">Doc</a></li>
                    <li class="nav-item dropdown" style="color:rgb(250,253,255)">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Projects
                        </a>

                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            {% for item in projects %}
                            <a class="dropdown-item"
                                href="{% url 'lamiaproject'  project_id=item.id_project%}">{{ item.name }}</a>
                            {% endfor %}
                        </div>


                    </li>
                </ul>
                <ul class=" nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i
                                class="fa fa-cog fa-fw fa-lg"></i></a></li>
                    <li class="dropdown order-1">

                        {% if request.user.is_authenticated %}
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                            class="btn btn-outline-secondary dropdown-toggle">{{ user.get_username }} <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <form class="form" role="form" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="logout"
                                        class="btn btn-primary btn-sm btn-block">Logout</button>
                                </form>
                            </li>
                        </ul>
                        {% else %}

                        <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                            class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <form class="form" role="form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input id="emailInput" name='id' placeholder="Email"
                                            class="form-control form-control-sm" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input id="passwordInput" name='pw' placeholder="Password"
                                            class="form-control form-control-sm" type="text">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name='login'
                                            class="btn btn-primary btn-block">Login</button>

                                    </div>
                                    <!-- <div class="form-group text-center">
                                        <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot
                                                password?</a></small>
                                    </div> -->
                                </form>
                            </li>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Forgot password</h3>
                    <button type="button" class="close font-weight-light" data-dismiss="modal"
                        aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Reset your password..</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>





    {% endblock %}




    {% block content %}

    <div>
        <div class="header-dark"
            style="background-image:url({% static 'lamiacarto/pictures/hero.jpg' %}); background-size:cover">
            <div class=" container hero">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="text-center"
                            style="padding-top:120px;font-weight:bold;font-family:'Open Sans', sans-serif;margin-bottom:30px; color:rgb(250,253,255)">
                            Welcome to Lamia</h1>
                        <h1 class="text-center"
                            style="font-size:30px;padding-top:0px;font-weight:bold;font-family:'Open Sans', sans-serif;padding-bottom:200px; color:rgb(250,253,255)">
                            The Open sourced Asset Management </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="padding-top:70px;">Features </h2>
                <p class="text-center">All the features that Lamia provides for your projects.</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-map-marker icon"></i>
                        <h3 class="name">Google Maps &amp; Street View</h3>
                        <p class="description">Integrate the real location of the projects with Google Maps &amp; Google
                            Street View.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-repeat icon"></i>
                        <h3 class="name">Immersive experience</h3>
                        <p class="description">Upload 360° images into the secure artelia360 cloud.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                        <h3 class="name">Database</h3>
                        <p class="description">Manage all the project information with the realtime dashboard.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-camera icon"></i>
                        <h3 class="name">Media</h3>
                        <p class="description">All the media information of the project classified by phases and dates.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-arrow-down icon"></i>
                        <h3 class="name">Attachments</h3>
                        <p class="description">The main files of the projects can be uploaded to Artelia 360.com.&nbsp;
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                        <h3 class="name">Mobile-Friendly</h3>
                        <p class="description">Artelia360 is available in all the devices. PC, Mobile, Tablet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div style="background-color: rgb(0,55,90)">
            <div class="container">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3" style="color:rgb(250,253,255)">© 2020 Copyright:
                    <a href="https://arteliagroup.com/" style="color:rgb(250,253,255)"> arteliagroup.com</a>
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </footer>
    <!-- Footer -->
    {% endblock %}
</body>

</html>